body {
    text-align: center; 
}

table, th, td {
    text-align: center; 
}

tr:nth-child(even){background-color:coral}

th, td{
    padding: 15px;
}

th{
    color: azure;
    background-color: rgb(63, 36, 16);
}

.center {
    margin: auto;
    width: 65%;
    padding: 20px;
}